/* 共通レイアウト */
a{
  text-decoration:none;
  color: #444;
  display:block;
}
ul{
  list-style-type:none;
}
li{
  list-style-type:none;
}
body{
  margin: 0;
}
.common{
  width:100%;
}

/* ヘッダーレイアウト */
.header-top{
  /* background-color: pink; */
  width:1200px;
  height:150px;
  margin :0 auto;
  padding-bottom:20px;
}
.header-title{
  width:350px;
  height:100px;
  /* background-color: aqua; */
}
.header-title p{
  margin-top:-25px;
  font-size:15px;
  padding-left:100px;
}
.site-date{
  float:right;
  margin-top:-80px;
  padding-right:50px;
  /* background-color:darkgrey; */
}
.user{
  float:right;
  padding-right:50px;
   position: relative; 
  padding-top:-100px;
  /* background-color:bisque; */
}
.user-nav li ul {
   position: absolute; 
  visibility: hidden;
  border:solid 1px black;
  transition:all 0.2s;
  margin-top:-3px;
  
}
.user-nav li:hover ul {
  visibility: visible;
  border:solid 1px black;
  box-shadow:0.5px 0.5px #f0f0f0;
  /*position:absolute;*/
  z-index:20;
} 
.fas{
  margin-left:5px;
  padding-right:10px;
}
.site-var li{
  float:left;
  padding-right:20px;
  padding-left:10px;
  font-size:20px;
  border-right:solid thin slategrey;

}
.site-var{
  width:600px;
  margin:0 auto;
}

/* footerレイアウト */