/* 共通レイアウト */
a{
  text-decoration:none;
  color: #444;
  display:block;
}
ul{
  list-style-type:none;
}
li{
  list-style-type:none;
}
body{
  margin: 0;
}
.common{
  width:100%;
}

/* ヘッダーレイアウト */
.header-top{
  /* background-color: pink; */
  width:1200px;
  height:150px;
  margin :0 auto;
  padding-bottom:20px;
}
.header-title{
  width:350px;
  height:100px;
  /* background-color: aqua; */
}
.header-title p{
  margin-top:-25px;
  font-size:15px;
  padding-left:100px;
}
.site-date{
  float:right;
  margin-top:-80px;
  padding-right:50px;
  /* background-color:darkgrey; */
}
.user{
  float:right;
  padding-right:50px;
   position: relative; 
  padding-top:-100px;
  /* background-color:bisque; */
}
.user-nav li ul {
   position: absolute; 
  visibility: hidden;
  border:solid 1px black;
  transition:all 0.2s;
  margin-top:-3px;
  
}
.user-nav li:hover ul {
  visibility: visible;
  border:solid 1px black;
  box-shadow:0.5px 0.5px #f0f0f0;
  /*position:absolute;*/
  z-index:20;
} 
.fas{
  margin-left:5px;
  padding-right:10px;
}
.site-var li{
  float:left;
  padding-right:20px;
  padding-left:10px;
  font-size:20px;
  border-right:solid thin slategrey;

}
.site-var{
  width:600px;
  margin:0 auto;
}

/* ヘッダー下、画像表示用レイアウト */
.slider-container {
  position: relative;
  width:100%;
}
.slider-container.initialized {
  display:block;
}
.slider{
  padding:0;
  margin-top:0px;
}
.slider li img{
  width:100%;
  height:450px;
}
.form{ 
  position:absolute;
  width:100%;
  height:100px;
  text-align: center;
  z-index:30;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  /* opacity:0.8; */
}
.form ul{
  padding-left: 0px;
}
.form li{
  display: inline;
  padding:50px;
}
.button{
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 14pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 24px;   /* 余白       */
  background    : #7fe8b5;     /* 背景色     */
  color         : #333333;     /* 文字色     */
}

