h1{
  text-align:center;
}
.top{
  margin-top:100px;
  width:1200px; 
  height:600px;
  margin-left:auto;
  margin-right:auto;
}
.top-content{
  width:100%;
  height:600px;
  margin:0 auto;
  /* background-color:pink; */
  padding-left:0;
 
}
.user-content{
  float:left;
  text-align:center;
  /* background-color:blanchedalmond; */
  width:33%;
}
.photo{
  width:300px;
  height:200px;
}
